<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo App</title>
  <link rel="stylesheet" href="css/ionicons.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="header-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Todo Application (<span class="task-counter">0</span>)
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav pull-right">
            <li>
              <a class="clear-all">Clear All</a>
            </li>
            <li>
              <a onclick="clearChecked()" class="">Clear Checked</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <main class="container main-wrapper">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="todo-form">
          <!-- <input onkeypress="newTaskKeypress(event)" type="text" id="new-task" class="form-control new-task" placeholder="Enter a task" maxlength="50" autocomplete="off" autofocus> -->
          <input type="text" id="new-task" class="form-control new-task" placeholder="Enter a task" maxlength="50" autocomplete="off" autofocus>
        </div>
        <div class="todo-ul-list"></div>
      </div>
    </div>
  </main>

  <script type="text/javascript" src="js/taskApi.js"></script>
  <script type="text/template" id="todo-ul-script">
    <ul id="todo-list" class="list-unstyled todo-list">
      <% _.each(todoArray.reverse(), function (task) { %>
        <li class="">
          <div class="checkbox">
            <label>
              <input type="checkbox">
              <span><%= task.name %></span>
            </label>
            <i onclick="removeTask(event)" class="ion-close-circled icon-remove pull-right"></i>
          </div>
        </li>
      <% }); %>
    </ul>
  </script>
    
  <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="js/underscore.js 1.8.3.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

</body>
</html>